# Data Management
numpy==1.22.3
pandas==2.0.0

# Data Visualization
matplotlib==3.7.1
seaborn==0.12.2

# Regression Implementation
scipy==1.7.3
pymc3==3.11.2
arviz==0.11.2
statsmodels==0.13.5
scipy==1.7.3